@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    margin: 20px;
}
html{
    font-size: 62.5%;
}
@media only screen and (min-width:800px){
    html{
        font-size: 75%;
    }
}
@media only screen and (min-width:1000px){
    html{
        font-size: 100%;
    }
}
.img1{
    width: 25rem;
    height: 15rem;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}
.img2{
    width: 15rem;
    height: 13.5rem;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}